In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

In [10]:
# Reads in csv file made in WeatherPy program
citydata = pd.read_csv("../WeatherPy/Output_Data/cities.csv")

# Stores the latitude and longitude for location and humidity as the "weight" for heatmap
locations = citydata[["Lat", "Lng"]]
rating = citydata["Humidity"]

# Creates the fig to display the heatmap
fig = gmaps.figure()

# Creates heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=rating, 
                                 dissipating=False, max_intensity=100,
                                 point_radius=2)
# Add layer and display figure
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Narrowing down cities by condition until there's 10
focusedcitydata = citydata.loc[citydata["Max Temp"] > 70]
focusedcitydata = focusedcitydata.loc[focusedcitydata["Max Temp"] < 75]
focusedcitydata = focusedcitydata.loc[focusedcitydata["Humidity"] < 50]
focusedcitydata

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
31,Mount Isa,-20.7333,139.5000,74.97,38,76,0.00,AU,1649706057
79,Saint George,37.1041,-113.5841,72.43,13,96,4.00,US,1649706430
200,Salina,38.8403,-97.6114,70.02,26,0,12.66,US,1649706718
268,Turaif,31.6725,38.6637,70.05,24,20,20.71,SA,1649706748
435,Shache,38.4167,77.2406,70.72,20,100,4.14,CN,1649706815
440,Buin,-33.7333,-70.7500,72.05,26,3,7.18,CL,1649706817
444,Dahra,36.2546,0.8519,72.79,25,1,12.41,DZ,1649706818
478,Bluefield,37.2698,-81.2223,72.36,23,100,13.00,US,1649706830
485,Tabas,33.5959,56.9244,72.32,15,0,2.06,IR,1649706832
523,Marzuq,14.4000,46.4667,73.81,23,0,7.63,YE,1649706849